<!-- Statistics Section-->
<div ng-init="ngOnInit()">
    <!--About me-->
    <section class="section-padding">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group text-center">
                                        <img class="img img-thumbnail"
                                             ng-src="{{!user ? 'assets/images/avatar-user.png' : user.photo}}"
                                             ng-click="!user ? displayUserModal(): displayUserModal()">
                                    </div>

                                    <div class="form-group text-center"
                                         ng-if="user">
                                        <a href
                                           ng-click="displayAvatarPicker()">
                                            {{'TITLE_CHANGE_AVATAR' | translate}}
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group"
                                         ng-click="displayUserModal()">
                                        <h1 ng-if="user">{{'TITLE_ABOUT_SOMEONE' | translate}}
                                            <a href>{{user.firstName}} {{user.lastName}}</a></h1>
                                        <h1 ng-if="!user"><a href>{{'TITLE_PICK_ONE_PERSON_TO_VIEW' | translate}}</a>
                                        </h1>
                                        <hr/>
                                    </div>

                                    <div class="form-group">
                                        <table class="table">
                                            <tbody>
                                            <tr>
                                                <th scope="row">{{'TITLE_FULL_NAME' | translate}}</th>
                                                <td>
                                                    <i ng-if="!user || !(user.firstName || user.lastName)"
                                                       class="text-danger">{{'MSG_INFORMATION_NOT_AVAILABLE' |
                                                        translate}}</i>

                                                    <b ng-if="user && (user.firstName || user.lastName)">
                                                        {{user.firstName}} {{user.lastName}}
                                                    </b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">{{'TITLE_BIRTHDAY' | translate}}</th>
                                                <td>
                                                    <i ng-if="!user || !user.birthday" class="text-danger">{{'MSG_INFORMATION_NOT_AVAILABLE'
                                                        | translate}}</i>
                                                    <i ng-if="user && user.birthday">{{user.birthday | amUtc | amLocal |
                                                        amDateFormat:'MM/DD/YYYY'}}</i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">{{'TITLE_ROLE' | translate}}</th>
                                                <td>
                                                    <i ng-if="!user || !user.role" class="text-danger">{{'MSG_INFORMATION_NOT_AVAILABLE'
                                                        | translate}}</i>

                                                    <i ng-if="user && user.role">
                                                        {{user.role | translate}}
                                                    </i>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="form-group"
                                         ng-if="userDescriptions">
                                        <ul>
                                            <li ng-repeat="item in userDescriptions">{{item.description | translate}}
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="form-group">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row"
                 ng-if="user">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item">
                                                <a class="nav-link"
                                                   ui-sref-active="active"
                                                   ui-sref="{{urlStatesConstant.technicalSkill.name}}">
                                                    {{'TITLE_TECHNICAL_SKILL' | translate}}
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link"
                                                   ui-sref-active="active"
                                                   ui-sref="{{urlStatesConstant.userProject.name}}">
                                                    {{'TITLE_PROJECTS' | translate}}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="form-group">
                                        <ui-view></ui-view>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!--User picker-->
<script type="text/ng-template"
        id="user-selector.html">
    <user-picker ng-on-select-user="selectUser(user)"
                 ng-on-close="oModals.userPicker.dismiss(); oModals.userPicker = null"></user-picker>
</script>

<!--Avatar picker-->
<script type="text/ng-template"
        id="avatar-selector.html">
        <image-uploader ng-on-close="oModals.avatarPicker.dismiss()"
                        ng-on-image-crop="ngOnSelectAvatar(image, base64Image)">
        </image-uploader>
</script>
