<div class="card"
     ng-init="ngOnInit()">
    <div class="card-header">
        <h3 class="card-title">{{'TITLE_USER_PICKER' | translate}}</h3>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
            <tr>
                <th>{{'TITLE_FULL_NAME' | translate}}</th>
                <th>{{'TITLE_BIRTHDAY' | translate}}</th>
                <th>{{'TITLE_ROLE' | translate}}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in oResultModel.user.records">
                <td>{{user.firstName}} {{user.lastName}}</td>
                <td>{{user.birthday}}</td>
                <td>{{user.role | translate}}</td>
                <td>
                    <button class="btn btn-primary"
                            ng-click="selectUser(user)">
                        <i class="fa fa-check"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="text-center">
            <button class="btn btn-danger"
                    ng-click="closePicker()">
                {{'TITLE_CANCEL' | translate}}
            </button>
        </div>
    </div>
</div>