<div ng-init="ngOnInit()">
    <section class="section-padding">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item">
                                        <a class="nav-link"
                                           ui-sref-active="active"
                                           ui-sref="{{urlStateManagementConstant.skillManagement.name}}">
                                            {{'TITLE_SKILL' | translate}}
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link"
                                           ui-sref-active="active"
                                           ui-sref="{{urlStateManagementConstant.responsibilityManagement.name}}">
                                            {{'TITLE_RESPONSIBILITY' | translate}}
                                        </a>
                                    </li>
                                    <!--<li class="nav-item" -->
                                    <!--ui-sref-active="active"-->
                                    <!--ui-sref="{{urlStateManagementConstant.technologyManagement.name}}">-->
                                    <!--<a class="nav-link"-->
                                    <!--href>-->
                                    <!--{{'TITLE_TECHNOLOGY' | translate}}-->
                                    <!--</a>-->
                                    <!--</li>-->
                                </ul>
                            </div>
                        </div>
                    </div>

                    <ui-view></ui-view>
                </div>
            </div>


        </div>
    </section>
</div>
