<nav class="side-navbar shrink" ng-init="ngOnInit()">
    <div class="side-navbar-wrapper">
        <!-- Sidebar Header    -->
        <div class="sidenav-header d-flex align-items-center justify-content-center">
            <!-- User Info-->
            <div class="sidenav-header-inner text-center">
                <h2 class="h5">{{'TITLE_ONLINE_CV' | translate}}</h2>
            </div>
            <!-- Small Brand information, appears on minimized sidebar-->
            <div class="sidenav-header-logo"><a href="index.html" class="brand-small text-center">
                <strong>K</strong><strong class="text-primary">g</strong></a></div>
        </div>
        <!-- Sidebar Navigation Menus-->
        <div class="main-menu">
            <ul class="side-menu list-unstyled">
                <li ui-sref-active="active" ui-sref="{{urlStatesConstant.dashboard.name}}"><a href> <i
                        class="fa fa-home"></i>{{'TITLE_HOME' | translate}} </a></li>
            </ul>
            <ul class="side-menu list-unstyled">
                <li ng-class="{'active': bContainState(urlStatesConstant.management.masterLayout.name)}"
                    ui-sref="{{urlStatesConstant.management.masterLayout.name}}">
                    <a href>
                        <i class="fa fa-home"></i>{{'TITLE_MANAGEMENT' | translate}}
                    </a>
                </li>
            </ul>

        </div>
    </div>
</nav>