<form class="card"
      name="addProjectForm"
      novalidate
      ng-init="ngOnInit()"
      ng-submit="clickOk($event)">
    <div class="card-header">
        <h3 ng-if="!oModel.id">{{'TITLE_ADD_PROJECT' | translate}}</h3>
        <h3 ng-if="oModel.id">{{'TITLE_EDIT_PROJECT' | translate}}</h3>
    </div>
    <div class="card-body">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-3">
                    <b>{{'TITLE_NAME' | translate}}</b>
                </div>
                <div class="col-sm-9">
                    <div class="form-group">
                        <input name="name"
                               class="form-control"
                               ng-model="oModel.name"
                               ng-required="!$scope.oModel.id">

                        <ul class="validation-summary"
                            ng-if="addProjectForm.$invalid && addProjectForm.$submitted"
                            ng-messages="addProjectForm.name.$error">
                            <li ng-message="required">{{'MSG_INFORMATION_REQUIRED' | translate}}</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <b>{{'TITLE_DESCRIPTION' | translate}}</b>
                </div>
                <div class="col-sm-9">
                    <div class="form-group">

                        <summernote config="oEditorOption"
                                    ng-model="oModel.description">
                        </summernote>

                        <ul class="validation-summary"
                            ng-if="addProjectForm.$invalid && addProjectForm.$submitted"
                            ng-messages="addProjectForm.description.$error">
                            <li ng-message="required">{{'MSG_INFORMATION_REQUIRED' | translate}}</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <b>{{'TITLE_STARTED_TIME' | translate}}</b>
                </div>

                <div class="col-sm-9">
                    <div class="form-group">
                        <!--<input name="startedTime"-->
                        <!--class="form-control"-->
                        <!--ng-model="oModel.startedTime">-->

                        <input name="startedTime"
                               type="date"
                               ng-model="oModel.startedTime"
                               class="form-control"
                               ng-required="true"
                               ng-function-validate="is-valid-start-time"
                               ng-function-validate-monitors="oModel.finishedTime"
                               ng-function-validate-is-valid-start-time="bIsValidStartTime(oModel.startedTime, oModel.finishedTime)"/>

                        <ul class="validation-summary"
                            ng-if="addProjectForm.$invalid && addProjectForm.$submitted"
                            ng-messages="addProjectForm.startedTime.$error">
                            <li ng-message="ng-function-validate-is-valid-start-time">{{'MSG_TIME_INVALID' |
                                translate}}
                            </li>
                            <li ng-message="required">{{'MSG_INFORMATION_REQUIRED' | translate}}</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <b>{{'TITLE_FINISHED_TIME' | translate}}</b>
                </div>
                <div class="col-sm-9">
                    <div class="form-group">

                        <input name="finishedTime"
                               type="date"
                               class="form-control"
                               ng-model="oModel.finishedTime"
                               value="{{oModel.finishedTime | date : 'yyyy-MM-dd'}}"
                               ng-required="true"
                               ng-function-validate="is-valid-finish-time"
                               ng-function-validate-monitors="oModel.startedTime"
                               ng-function-validate-is-valid-finish-time="bIsValidFinishTime(oModel.startedTime, oModel.finishedTime)">

                        <ul class="validation-summary"
                            ng-if="addProjectForm.$invalid && addProjectForm.$submitted"
                            ng-messages="addProjectForm.finishedTime.$error">
                            <li ng-message="ng-function-validate-is-valid-finish-time">{{'MSG_TIME_INVALID' |
                                translate}}
                            </li>
                            <li ng-message="required">{{'MSG_INFORMATION_REQUIRED' | translate}}</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <b>{{'TITLE_RESPONSIBILITIES' | translate}}</b>
                    <table class="table">
                        <tbody>
                        <tr ng-repeat="responsibilityId in oModel.responsibilityIds">
                            <td>
                                <select class="form-control"
                                        ng-disabled="true"
                                        ng-model="responsibilityId"
                                        ng-options="responsibility.id as responsibility.name for responsibility in oItemSource.responsibilities">
                                </select>
                            </td>
                            <td class="align-middle text-center" width="200px">
                                <a href
                                   ng-click="deleteProjectResponsibility(responsibilityId)">
                                    {{'TITLE_REMOVE' | translate}}
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select name="responsibility"
                                        class="form-control"
                                        ng-function-validate="is-valid-responsibilities"
                                        ng-function-validate-is-valid-responsibilities="oModel.responsibilityIds && oModel.responsibilityIds.length > 0"
                                        ng-function-validate-monitors="oModel.responsibilityIds"
                                        ng-model="oItemQueue.responsibilityId"
                                        ng-options="responsibility.id as responsibility.name for responsibility in oItemSource.responsibilities">
                                </select>

                                <ul class="validation-summary"
                                    ng-if="addProjectForm.$invalid && addProjectForm.$submitted"
                                    ng-messages="addProjectForm.responsibility.$error">
                                    <li ng-message="ng-function-validate-is-valid-responsibilities">
                                        {{'MSG_INFORMATION_REQUIRED' | translate}}
                                    </li>
                                </ul>
                            </td>
                            <td class="align-middle text-center" width="200px">
                                <a href
                                   ng-click="addResponsibility(oItemQueue.responsibilityId)">{{'TITLE_ADD' | translate}}</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <b>{{'TITLE_SKILLS' | translate}}</b>
                    <table class="table">
                        <tbody>
                        <tr ng-repeat="skillId in oModel.skillIds">
                            <td>
                                <select class="form-control"
                                        ng-model="skillId"
                                        ng-disabled="true"
                                        ng-options="skill.id as skill.name for skill in oItemSource.skills">
                                </select>
                            </td>
                            <td class="align-middle text-center" width="200px">
                                <a href
                                   ng-click="deleteProjectSkill(skillId)">{{'TITLE_REMOVE' | translate}}</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select name="technology"
                                        class="form-control"
                                        ng-model="oItemQueue.skillId"
                                        ng-options="skill.id as skill.name for skill in oItemSource.skills"
                                        ng-function-validate="is-valid-technologies"
                                        ng-function-validate-is-valid-technologies="oModel.technologyIds && oModel.technologyIds.length > 0"
                                        ng-function-validate-monitors="oModel.technologyIds">
                                </select>

                                <ul class="validation-summary"
                                    ng-if="addProjectForm.$invalid && addProjectForm.$submitted"
                                    ng-messages="addProjectForm.technology.$error">
                                    <li ng-message="ng-function-validate-is-valid-technologies">
                                        {{'MSG_INFORMATION_REQUIRED' | translate}}
                                    </li>
                                </ul>
                            </td>
                            <td class="align-middle text-center" width="200px">
                                <a href ng-click="addSkill(oItemQueue.skillId)">{{'TITLE_ADD' |
                                    translate}}</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="text-center">
            <button class="btn btn-outline-primary"
                    type="submit">
                {{'TITLE_OK' | translate}}
            </button>
            <button class="btn btn-default"
                    type="button"
                    ng-click="clickCancel()">
                {{'TITLE_CANCEL' | translate}}
            </button>
        </div>
    </div>
</form>