<div ng-init="ngOnInit()">
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                <tr>
                    <th>{{'TITLE_NAME' | translate}}</th>
                    <th>{{'TITLE_CREATED_TIME' | translate}}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td ng-form="addResponsibilityForm">
                        <input name="responsibilityName"
                               type="text"
                               class="form-control"
                               ng-model="oModel.addResponsibility.name"
                               ng-disabled="oModel.editResponsibility.id"
                               ng-required="true">
                        <ul ng-if="(addResponsibilityForm.$submitted || addResponsibilityForm.responsibilityName.$dirty)&& addResponsibilityForm.responsibilityName.$invalid"
                            ng-messages="addResponsibilityForm.responsibilityName.$error"
                            class="validation-summary">
                            <li ng-message="required">{{'MSG_INFORMATION_REQUIRED' | translate}}</li>
                        </ul>
                    </td>
                    <td>
                        <input type="text"
                               class="form-control"
                               readonly
                               value="{{'TITLE_AUTO_GENERATED' | translate}}">
                    </td>
                    <td>
                        <button type="button"
                                class="btn btn-outline-primary"
                                ng-disabled="oModel.editResponsibility.id"
                                ng-click="addResponsibility($event)">
                            <span class="fa fa-plus"></span>
                        </button>
                    </td>
                </tr>
                <tr ng-repeat="responsibility in oItemSource.responsibilities">
                    <td>
                        <span ng-if="!oModel.editResponsibility.id || oModel.editResponsibility.id !== responsibility.id">
                                {{responsibility.name}}
                        </span>

                        <ng-form name="editResponsibilityForm">
                            <input name="responsibilityName"
                                   class="form-control"
                                   ng-if="oModel.editResponsibility.id == responsibility.id"
                                   ng-model="oModel.editResponsibility.name"
                                   ng-required="true">

                            <ul class="validation-summary"
                                ng-if="(editResponsibilityForm.$submitted || editResponsibilityForm.skillName.$dirty) && editResponsibilityForm.responsibilityName.$invalid">
                                <li>{{'MSG_INFORMATION_REQUIRED' | translate}}</li>
                            </ul>
                        </ng-form>

                    </td>
                    <td>{{responsibility.createdTime | amUtc | amLocal | amDateFormat:'MMM/DD/YYYY'}}</td>
                    <td>
                        <button class="btn btn-outline-info"
                                ng-if="oModel.editResponsibility.id !== responsibility.id"
                                ng-click="enableResponsibilityEditor(responsibility)">
                            <span class="fa fa-pencil"></span>
                        </button>

                        <button class="btn btn-outline-info"
                                ng-if="oModel.editResponsibility.id == responsibility.id"
                                ng-click="editResponsibility()">
                            <span class="fa fa-check"></span>
                        </button>

                        <button class="btn btn-outline-danger"
                                ng-if="oModel.editResponsibility.id == responsibility.id"
                                ng-click="cancelResponsibilityEdit()">
                            <span class="fa fa-times"></span>
                        </button>

                        <button class="btn btn-outline-danger"
                                ng-if="!oModel.editResponsibility.id"
                                ng-click="deleteResponsibility(responsibility.id)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
