<div ng-init="ngOnInit()">
    <div class="row"
         ng-repeat="technicalSkill in technicalSkills">
        <div class="col-sm-12">

            <!--Skills list-->
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group text-center">
                            <img class="card-img-top"
                                 style="width: 100%; cursor: pointer"
                                 ng-src="{{ (!technicalSkill || !technicalSkill.photo) ? 'assets/images/skills.png' : technicalSkill.photo}}"
                                 ng-click="displayEditSkillCategory(technicalSkill.id)"
                                 alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">{{technicalSkill.name | translate}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="form-group"
                             ng-if="technicalSkill.personalSkills"
                             ng-repeat="personalSkill in technicalSkill.personalSkills"
                             ng-init="skill = personalSkill.skill">
                            <uib-progressbar value="personalSkill.point"
                                             type="{{findProgressBarType(personalSkill.point)}}"
                                             striped="true"
                                             ng-click="displayEditSkill(skill, technicalSkill, personalSkill.point)">
                                {{skill.name | translate}}
                            </uib-progressbar>
                        </div>

                        <div class="form-group"
                             ng-if="!technicalSkill.personalSkills">
                            <i class="text-danger">{{'MSG_INFORMATION_NOT_AVAILABLE' | translate}}</i>
                        </div>

                        <div class="form-group">
                            <a href ng-click="displayAddSkill(technicalSkill)">{{'TITLE_ADD_SKILL' | translate}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <!--Add technical skill-->
            <div class="card">
                <div class="card-body">
                    <button class="btn btn-outline-primary"
                            ng-click="displayAddSkillCategory()">
                        {{'TITLE_ADD_SKILL_CATEGORY' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Skill editor-->
<script type="text/ng-template"
        id="skill-editor.html">
    <skill-editor ng-user="oModel.editSkill.user"
                  ng-skill="oModel.editSkill.skill"
                  ng-skill-category="oModel.editSkill.skillCategory"
                  ng-point="oModel.editSkill.point"
                  ng-on-window-cancel="oModals.skillEditor.dismiss(); oModals.skillEditor = null"
                  ng-on-user-skill-update="ngOnEditSkill(info)">
    </skill-editor>
</script>

<!--Skill initiator-->
<script type="text/ng-template"
        id="skill-initiator.html">
    <skill-editor ng-user="oModel.addSkill.user"
                  ng-skill-category="oModel.addSkill.skillCategory"
                  ng-point="oModel.addSkill.point"
                  ng-on-window-cancel="oModals.skillInitiator.dismiss(); oModals.skillInitiator = null"
                  ng-on-user-skill-create="ngOnAddSkill(info)">
    </skill-editor>
</script>

<!--Add skill category-->
<script type="text/ng-template"
        id="add-skill-category.html">
        <skill-category-editor ng-load-skill-category="loadSkillCategory()"
                               ng-on-select="addSkillCategory(userId, name, encodedPhoto)"
                               ng-on-cancel="cancelSkillCategorySelection()">
        </skill-category-editor>
</script>

<!--Edit skill category-->
<script type="text/ng-template"
        id="edit-skill-category.html">
    <skill-category-editor ng-load-skill-category="loadSkillCategory()"
                           ng-on-edit="editSkillCategory(id, userId, name, encodedPhoto)"
                           ng-on-cancel="cancelSkillCategoryEditor()">
    </skill-category-editor>
</script>

