<div ng-init="ngOnInit()"
     class="form-group">
    <div ng-repeat="project in userProjects">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <a href
                               ng-click="displayProjectEditor(project.id)">
                                {{project.name}}
                            </a>
                        </h3>
                    </div>
                    <div class="card-body">

                        <div class="row">
                            <div class="col-sm-3">
                                <b>{{'TITLE_DESCRIPTION' | translate}}</b>
                            </div>
                            <div class="col-sm-9">
                                <div class="form-group">
                                    <ng-bind-html ng-bind-html="project.description"></ng-bind-html>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <b>{{'TITLE_STARTED_TIME' | translate}}</b>
                            </div>
                            <div class="col-sm-9">
                                <div class="form-group">{{project.startedTime | amUtc | amLocal | amDateFormat:'MMM/DD/YYYY'}}</div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <b>{{'TITLE_FINISHED_TIME' | translate}}</b>
                            </div>
                            <div class="col-sm-9">
                                <div class="form-group">{{project.finishedTime | amUtc | amLocal | amDateFormat:'MMM/DD/YYYY'}}</div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <b>{{'TITLE_SKILLS' | translate}}</b>
                            </div>
                            <div class="col-sm-9">
                                <div class="form-group">
                                    <ul ng-if="project.projectSkills && project.projectSkills.length">
                                        <li ng-repeat="projectSkill in project.projectSkills"
                                            ng-init="skill = projectSkill.skill">
                                            {{skill.name}}
                                        </li>
                                    </ul>

                                    <i ng-if="!project.projectSkills || project.projectSkills.length < 1"
                                       class="text-danger">
                                        {{'MSG_INFORMATION_NOT_AVAILABLE' | translate}}
                                    </i>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <b>{{'TITLE_RESPONSIBILITIES' | translate}}</b>
                            </div>
                            <div class="col-sm-9">
                                <ul ng-if="project.projectResponsibilities && project.projectResponsibilities.length">
                                    <li ng-repeat="item in project.projectResponsibilities"
                                        ng-init="responsibility = item.responsibility">
                                        {{responsibility.name | translate}}
                                    </li>
                                </ul>

                                <i ng-if="!project.projectResponsibilities || project.projectResponsibilities.length < 1"
                                   class="text-danger">
                                    {{'MSG_INFORMATION_NOT_AVAILABLE' | translate}}
                                </i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="col-sm-12">
        <div class="card-footer">
            <button class="btn btn-outline-primary"
                    ng-click="displayProjectInitiator()">
                {{'TITLE_ADD_PROJECT' | translate}}
            </button>
        </div>
    </div>
</div>

<!--Project initiator-->
<script type="text/ng-template"
        id="project-initiator.html">
    <project-editor ng-on-project-create="ngOnProjectCreate(info)"
                    ng-on-window-cancel="oModals.addProject.dismiss(); oModals.addProject = null"
                    ng-on-project-load="ngOnProjectLoad()"
                    ng-on-skills-load="ngOnSkillsLoad()"
                    ng-on-responsibilities-load="ngOnResponsibilitiesLoad()">
    </project-editor>
</script>

<!--Project editor-->
<script type="text/ng-template"
        id="project-editor.html">
    <project-editor ng-on-window-cancel="oModals.editProject.dismiss(); oModals.editProject = null"
                    ng-on-project-edit="ngOnProjectEdit(info)"
                    ng-on-project-load="ngOnProjectLoad()"
                    ng-on-skills-load="ngOnSkillsLoad()"
                    ng-on-responsibilities-load="ngOnResponsibilitiesLoad()">
    </project-editor>
</script>
