<div class="card">
    <div class="card-header">
        <button type="button"
                class="close"
                aria-label="Close"
                ng-click="ngOnClose()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card-body">

        <div class="col-lg-12">

            <!--Image cropper control-->
            <div class="row">
                <div class="col-12">
                    <div class="form-group text-center">

                        <div ng-if="!_selectedImage">
                            <i class="text-danger"></i>
                        </div>

                        <div ng-if="_selectedImage">
                            <ui-cropper image="_selectedImage"
                                        result-image="oModel.base64CroppedImage"
                                        result-blob="oModel.croppedImage"
                                        init-max-area="true"
                                        result-image-size="'max'"
                                        canvas-scalemode="full-width"
                                        area-type="square">
                            </ui-cropper>
                        </div>
                    </div>
                </div>
            </div>

            <!--Image selector control-->
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <input type="file"
                               class="form-control"
                               nv-file-select=""
                               uploader="_avatarSelector"/>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="card-footer text-center">
        <button class="btn btn-outline-primary"
                ng-click="ngOnOkClick()">
            <span>{{'TITLE_OK' | translate}}</span>
        </button>
    </div>
</div>