<form class="card"
      name="skillCategoryEditor"
      novalidate
      ng-init="ngOnInit()"
      ng-submit="selectSkillCategory($event)">
    <div class="card-header">
        <h3 ng-if="!oModel.ngId">{{'TITLE_ADD_TECHNICAL_SKILL' | translate}}</h3>
        <h3 ng-if="oModel.ngId">{{'TITLE_EDIT_TECHNICAL_SKILL' | translate}}</h3>
    </div>
    <div class="card-body">
        <div class="col-sm-12">

            <!--Skill category name-->
            <div class="row">
                <div class="col-sm-3">
                    <label>{{'TITLE_NAME' | translate}}</label> <b class="text-danger">*</b>
                </div>
                <div class="col-sm-9">
                    <div class="form-group">
                        <input name="name"
                               class="form-control"
                               ng-model="oModel.name"
                               ng-required="true">

                        <ul class="validation-summary"
                            ng-if="(skillCategoryEditor.$submitted || skillCategoryEditor.name.$dirty) && skillCategoryEditor.name.$invalid"
                            ng-messages="skillCategoryEditor.name.$error">
                            <li ng-message="required">{{'MSG_INFORMATION_REQUIRED' | translate}}</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!--Skill category image-->
            <div class="row">
                <div class="col-sm-3">
                    <label>{{'TITLE_IMAGE' | translate}}</label> <b class="text-danger">*</b>
                </div>
                <div class="col-sm-9">

                    <div class="form-group"
                         ng-if="!_selectedImage && oModel.id">
                        <img ng-src="{{oModel.encodedPhoto}}" class="img img-thumbnail">
                    </div>

                    <div class="form-group"
                         ng-if="_selectedImage">
                        <div id="image-edit-area">
                            <ui-cropper image="_selectedImage"
                                        result-image="oModel.base64CroppedImage"
                                        result-blob="oModel.croppedImage"
                                        init-max-area="true"
                                        result-image-size="'max'"
                                        canvas-scalemode="full-width"
                                        area-type="square">
                            </ui-cropper>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="file"
                               class="form-control"
                               nv-file-select=""
                               uploader="_skillCategoryImageUploader"/>

                        <ul class="validation-summary"
                            ng-if="(skillCategoryEditor.$submitted || skillCategoryEditor.croppedImage.$dirty) && skillCategoryEditor.croppedImage.$invalid"
                            ng-messages="skillCategoryEditor.croppedImage.$error">
                            <li ng-message="required">{{'MSG_INFORMATION_REQUIRED' | translate}}</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!--Hidden fields (for data validation)-->
            <div class="collapse">
                <!--User id-->
                <input name="userId"
                       ng-model="oModel.userId"
                       ng-required="true">

                <!--Cropped image-->
                <input name="croppedImage"
                       ng-model="oModel.base64CroppedImage"
                       ng-required="!oModel.id">
            </div>

        </div>
    </div>
    <div class="card-footer">
        <div class="text-center">
            <button class="btn btn-outline-primary"
                    type="submit">
                {{'TITLE_OK' | translate}}
            </button>
            <button class="btn btn-default"
                    type="button"
                    ng-click="clickCancel()">
                {{'TITLE_CANCEL' | translate}}
            </button>
        </div>
    </div>
</form>