<div ng-init="ngOnInit()">
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                <tr>
                    <th>{{'TITLE_SKILL' | translate}}</th>
                    <th>{{'TITLE_CREATED_TIME' | translate}}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td ng-form="addSkillForm">
                        <input name="skillName"
                               type="text"
                               class="form-control"
                               ng-model="oModel.addSkill.name"
                               ng-required="true">
                        <ul ng-if="(addSkillForm.$submitted || addSkillForm.skillName.$dirty)&& addSkillForm.skillName.$invalid"
                            ng-messages="addSkillForm.skillName.$error"
                            class="validation-summary">
                            <li ng-message="required">{{'MSG_INFORMATION_REQUIRED' | translate}}</li>
                        </ul>
                    </td>
                    <td>
                        <input type="text"
                               class="form-control"
                               readonly
                               value="{{'TITLE_AUTO_GENERATED' | translate}}">
                    </td>
                    <td>
                        <button type="button"
                                class="btn btn-outline-primary"
                                ng-disabled="oModel.editSkill.id"
                                ng-click="addSkill($event)">
                            <span class="fa fa-plus"></span>
                        </button>
                    </td>
                </tr>
                <tr ng-repeat="skill in oItemSource.skills">
                    <td>
                        <span ng-if="!oModel.editSkill.id || oModel.editSkill.id !== skill.id">
                                {{skill.name}}
                        </span>

                        <ng-form name="editSkillForm">
                            <input name="skillName"
                                   class="form-control"
                                   ng-if="oModel.editSkill.id == skill.id"
                                   ng-model="oModel.editSkill.name"
                                   ng-required="true">

                            <ul class="validation-summary"
                                ng-if="(editSkillForm.$submitted || editSkillForm.skillName.$dirty) && editSkillForm.skillName.$invalid">
                                <li>{{'MSG_INFORMATION_REQUIRED' | translate}}</li>
                            </ul>
                        </ng-form>

                    </td>
                    <td>{{skill.createdTime | amUtc | amLocal | amDateFormat:'MMM/DD/YYYY' }}</td>
                    <td>
                        <button class="btn btn-outline-info"
                                ng-if="oModel.editSkill.id !== skill.id"
                                ng-click="enableSkillEditor(skill)">
                            <span class="fa fa-pencil"></span>
                        </button>

                        <button class="btn btn-outline-info"
                                ng-if="oModel.editSkill.id == skill.id"
                                ng-click="editSkill()">
                            <span class="fa fa-check"></span>
                        </button>

                        <button class="btn btn-outline-danger"
                                ng-if="oModel.editSkill.id == skill.id"
                                ng-click="cancelSkillEditor()">
                            <span class="fa fa-times"></span>
                        </button>

                        <button class="btn btn-outline-danger"
                                ng-if="!oModel.editSkill.id"
                                ng-click="deleteSkill(skill.id)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
