<form name="addSkill"
      class="card"
      novalidate
      ng-init="ngOnInit()"
      ng-submit="clickOk($event)">
    <div class="card-header">
        <h3 ng-if="bIsInEditMode()">{{'TITLE_EDIT_SKILL' | translate}}</h3>
        <h3 ng-if="!bIsInEditMode()">{{'TITLE_ADD_SKILL' | translate}}</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-3">
                <label>{{'TITLE_USER' | translate}}</label>
            </div>
            <div class="col-sm-9">
                <div class="form-group">
                    <select class="form-control"
                            ng-model="oModel.userId"
                            ng-disabled="bIsInEditMode() || (!bIsInEditMode() && oModel.userId)"
                            ng-options="user.id as (user.firstName + ' ' + user.lastName) for user in oItemSource.users">
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <label>{{'TITLE_SKILL_CATEGORY' | translate}}</label>
            </div>
            <div class="col-sm-9">
                <div class="form-group">
                    <select class="form-control"
                            ng-model="oModel.skillCategoryId"
                            ng-disabled="bIsInEditMode() || (!bIsInEditMode() && oModel.skillCategoryId)"
                            ng-options="skillCategory.id as skillCategory.name | translate for skillCategory in oItemSource.skillCategories">
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <label>{{'TITLE_SKILL' | translate}}</label>
            </div>
            <div class="col-sm-9">
                <div class="form-group">
                    <select class="form-control"
                            ng-model="oModel.skillId"
                            ng-disabled="bIsInEditMode()"
                            ng-options="skill.id as skill.name for skill in oItemSource.skills">
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <label>{{'TITLE_POINT' | translate}}</label>
            </div>
            <div class="col-sm-9">
                <div class="form-group">
                    <input class="form-control" type="number"
                           step="5"
                           min="0"
                           max="100"
                           ng-model="oModel.point">
                </div>
            </div>

        </div>
    </div>
    <div class="card-footer">
        <div class="text-center">
            <button class="btn btn-primary"
                    type="submit">
                {{'TITLE_OK' | translate}}
            </button>

            <button class="btn btn-default"
                    type="button"
                    ng-click="clickCancel()">
                {{'TITLE_CANCEL' | translate}}
            </button>
        </div>
    </div>
</form>